In [2]:
! pip install psycopg2-binary

Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/7a/1f/a6cf0cdf944253f7c45d90fbc876cc8bed5cc9942349306245715c0d88d6/psycopg2_binary-2.9.9-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading psycopg2_binary-2.9.9-cp311-cp311-macosx_11_0_arm64.whl.metadata (4.4 kB)
Downloading psycopg2_binary-2.9.9-cp311-cp311-macosx_11_0_arm64.whl (2.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.6/2.6 MB 9.3 MB/s eta 0:00:00a 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [1]:
import FPL 
import pandas as pd

from sqlalchemy import create_engine, text
from sqlalchemy.orm import scoped_session, sessionmaker

f = FPL.FPL()

engine = create_engine(f.DATABASE_URL, isolation_level="AUTOCOMMIT")
db = scoped_session(sessionmaker(bind=engine))

In [2]:
f.DATABASE_URL

'postgresql://sztuzdpnnybifk:1c204f8327886a48aa0ccb290521bb43bb180630a49d81b5fec93b332a89d0c6@ec2-23-23-182-238.compute-1.amazonaws.com:5432/d3olv5n5hm21bq'

In [3]:
f.get_current_gw()

AttributeError: 'FPL' object has no attribute 'get_current_gw'

In [4]:
#PULL STANDINGS 
f.pull_standings()
f.df_standings.to_clipboard()

TypeError: FPL.pull_standings() missing 1 required positional argument: 'THIS_LEAGUE'

In [5]:
#PULL SCORES 
f.pull_eh(f.LIST_MEMBERS)
f.df_eh_curr[['event', 'points', 'entry']].to_clipboard()

AttributeError: 'FPL' object has no attribute 'LIST_MEMBERS'

In [6]:
#PULL SCHEDULE 
q = """ SELECT * FROM fpl_cup_group_fixtures """

d = db.execute(text(q))
db.commit()
df = pd.DataFrame(d.fetchall(), columns=d.keys())

In [7]:
df.tail(30)

,index,GW,Group,Team 1 ID,Team 2 ID,Team 1 Name,Team 2 Name
180,180,31,CL QF,6736402,3488981,Michael Adams,rob rodriguez
181,181,31,CL QF,5324246,28801,Syed Abidi,Andy Georgevich
182,182,31,CL QF,5749850,1576196,Vito Abbinante,Tom Oeltgen
183,183,31,CL QF,436343,15672,Mike Reiffsteck,Michael Doherty
184,184,31,EL QF,2347614,18185,Scott Parkins,Raymond Bleth
185,185,31,EL QF,456426,4882113,Mark Mays,Lord Kohledemort
186,186,31,EL QF,3949704,44590,Travis Dyer,Edward Tierney
187,187,31,EL QF,3991513,3601785,Kevin Kackos,Zach Trefzger
188,188,32,CL SF,3488981,15672,rob rodriguez,Michael Doherty
189,189,32,CL SF,5324246,1576196,Syed Abidi,Tom Oeltgen
190,190,32,EL SF,18185,3601785,Raymond Bleth,Zach Trefzger
191,191,32,EL SF,456426,44590,Mark Mays,Edward Tierney
192,192,33,CL SF,15672,3488981,Michael Doherty,rob rodriguez
193,193,33,CL SF,1576196,5324246,Tom Oeltgen,Syed Abidi
194,194,33,EL SF,3601785,18185,Zach Trefzger,Raymond Bleth
195,195,33,EL SF,44590,456426,Edward Tierney,Mark Mays
196,196,34,CL Final,15672,5324246,Michael Doherty,Syed Abidi
197,197,34,EL Final,18185,44590,Raymond Bleth,Edward Tierney
198,198,35,Tier 1,3937812,7697682,Jake Dyer,Andrew Pater
199,199,35,Tier 1,4497355,3991513,Tommy Fox,Kevin Kackos
200,200,35,Tier 1,5324246,6741837,Syed Abidi,Brian Teitelbaum
201,201,35,Tier 1,3552849,4882113,Mick Dempsey,Lord Kohledemort
202,202,35,Tier 1,5749850,2905953,Vito Abbinante,Simon Nardo
203,203,35,Tier 1,3601785,3817506,Zach Trefzger,Jeff Redish
204,204,36,LCS-QF,3949704,3601785,Travis Dyer,Zach Trefzger
205,205,36,LCS-QF,456426,5749850,Mark Mays,Vito Abbinante
206,206,36,LCS-QF,3937812,3552849,Jake Dyer,Mick Dempsey
207,207,36,LCS-QF,3991513,5324246,Kevin Kackos,Syed Abidi
208,208,37,LCS-SF,3949704,3991513,Travis Dyer,Kevin Kackos
209,209,37,LCS-SF,456426,3937812,Mark Mays,Jake Dyer

In [8]:
df.to_clipboard()

In [26]:
q = f"""SELECT "entry", "points" FROM api_history_entry WHERE event = {CURRENT_WEEK - 1}"""
df_eh_curr = db.execute(text(q))
db.commit()
df_eh_curr = pd.DataFrame(df_eh_curr.fetchall(), columns=df_eh_curr.keys())

In [27]:
df_eh_curr

      entry  points
0    436343      56
1    456426      39
2   3488981      34
3     15672      44
4   4946625      35
5      3359      34
6   3444407      31
7   3949704      25
8     18185      36
9   2769828      23
10  6736402      26
11  3288987      35
12    44590      34
13  1576196      34
14  5324246      36
15  4497355      41
16  2347614      49
17    28801      56
18  5887179      23
19  3937812      24
20  3552849      32
21  5749850      43
22  3601785      42
23  3817506      19
24  4505067      20
25  4882113      25
26  2905953      18
27  6741837      33
28  3991513      33
29  7697682      27

In [27]:
#ADD SCORE TO SCHEDULE 
dft = f.df_eh_curr[['event', 'points', 'entry']].copy(deep=True)
dft.columns = ['GW', 'Points 1', 'Team 1 ID']

df = pd.merge(df, dft, left_on=['Team 1 ID', 'GW'], right_on=['Team 1 ID', 'GW'], how='left', suffixes=('', '_1'))

dft.columns = ['GW', 'Points 2', 'Team 2 ID']
df = pd.merge(df, dft, left_on=['Team 2 ID', 'GW'], right_on=['Team 2 ID', 'GW'], how='left', suffixes=('', '_2'))

df['Points 1'] = df['Points 1'].fillna(0)
df['Points 2'] = df['Points 2'].fillna(0)

In [54]:
#DETERMINE OUTCOME 
df['winner'] = df.apply(lambda x: x['Team 1 ID'] if x['Points 1'] > x['Points 2'] else x['Team 2 ID'], axis=1)
df['loser']  = df.apply(lambda x: x['Team 1 ID'] if x['Points 1'] < x['Points 2'] else x['Team 2 ID'], axis=1)

df.loc[df['Points 1'] == df['Points 2'], 'winner'] = 'Draw'
df.loc[df['Points 1'] == df['Points 2'], 'loser'] = 'Draw'

df['draw_1'] = df.apply(lambda x: x['Team 1 ID'] if x['Points 1'] == x['Points 2'] else 0, axis=1)
df['draw_2'] = df.apply(lambda x: x['Team 2 ID'] if x['Points 1'] == x['Points 2'] else 0, axis=1)

In [4]:
df.to_clipboard()

In [4]:
df.to_csv(r'/Users/tfox/Desktop/fpl_cup_group_fixtures.csv', index=False)

In [9]:
df.to_clipboard()

In [9]:
dff = pd.read_clipboard()

In [10]:
dff.tail(30)

     GW      Group  Team 1 ID  Team 2 ID      Team 1 Name       Team 2 Name
181  31      CL QF    5324246      28801       Syed Abidi   Andy Georgevich
182  31      CL QF    5749850    1576196   Vito Abbinante       Tom Oeltgen
183  31      CL QF     436343      15672  Mike Reiffsteck   Michael Doherty
184  31      EL QF    2347614      18185    Scott Parkins     Raymond Bleth
185  31      EL QF     456426    4882113        Mark Mays  Lord Kohledemort
186  31      EL QF    3949704      44590      Travis Dyer    Edward Tierney
187  31      EL QF    3991513    3601785     Kevin Kackos     Zach Trefzger
188  32      CL SF    3488981      15672    rob rodriguez   Michael Doherty
189  32      CL SF    5324246    1576196       Syed Abidi       Tom Oeltgen
190  32      EL SF      18185    3601785    Raymond Bleth     Zach Trefzger
191  32      EL SF     456426      44590        Mark Mays    Edward Tierney
192  33      CL SF      15672    3488981  Michael Doherty     rob rodriguez
193  33      CL SF    1576196    5324246      Tom Oeltgen        Syed Abidi
194  33      EL SF    3601785      18185    Zach Trefzger     Raymond Bleth
195  33      EL SF      44590     456426   Edward Tierney         Mark Mays
196  34   CL Final      15672    5324246  Michael Doherty        Syed Abidi
197  34   EL Final      18185      44590    Raymond Bleth    Edward Tierney
198  35     Tier 1    3937812    7697682        Jake Dyer      Andrew Pater
199  35     Tier 1    4497355    3991513        Tommy Fox      Kevin Kackos
200  35     Tier 1    5324246    6741837       Syed Abidi  Brian Teitelbaum
201  35     Tier 1    3552849    4882113     Mick Dempsey  Lord Kohledemort
202  35     Tier 1    5749850    2905953   Vito Abbinante       Simon Nardo
203  35     Tier 1    3601785    3817506    Zach Trefzger       Jeff Redish
204  36     LCS-QF    3949704    3601785      Travis Dyer     Zach Trefzger
205  36     LCS-QF     456426    5749850        Mark Mays    Vito Abbinante
206  36     LCS-QF    3937812    3552849        Jake Dyer      Mick Dempsey
207  36     LCS-QF    3991513    5324246     Kevin Kackos        Syed Abidi
208  37     LCS-SF    3949704    3991513      Travis Dyer      Kevin Kackos
209  37     LCS-SF     456426    3937812        Mark Mays         Jake Dyer
210  38  LCS-Final    3949704     456426      Travis Dyer         Mark Mays

In [11]:
f.send_it(dff[['GW', 'Group', 'Team 1 ID', 'Team 2 ID', 'Team 1 Name', 'Team 2 Name']], 'fpl_cup_group_fixtures')

PostgreSQL Table fpl_cup_group_fixtures has been created successfully.

### OLD?

In [7]:
import FPL 
import pandas as pd

from sqlalchemy import create_engine, text
from sqlalchemy.orm import scoped_session, sessionmaker

f = FPL.FPL()

engine = create_engine(f.DATABASE_URL, isolation_level="AUTOCOMMIT")
db = scoped_session(sessionmaker(bind=engine))

In [4]:
f.pull_standings()

In [5]:
df = f.df_standings[['entry', 'entry_name', 'player_name']]

In [33]:
CURRENT_WEEK = 2

In [38]:
s = f""" 
    SELECT rank_live, 
        calc_score_parts_all.entry, 
        CASE name
            WHEN 'NO_CHIP' THEN player_name
            ELSE CONCAT(player_name, ' (', name, ')')
            END AS player_name,
        CAST(score_3 AS int) as score_3, 
        CAST(calc_score_parts_all.total_points - calc_score_parts_all.event_transfers_cost + calc_score_parts_all.score_3 AS int) as Total,
        ROUND(CAST(played_games AS numeric), 1) as test, 
        price_pct_str as Salary, 
        cap.cap_player_id, 
        cap.web_name as Captain, 
        vc.vc_player_id,
        vc.web_name as Vice,
        change_str,
        CAST(expected_games AS int), 
        ROUND(CAST(salary_possible AS numeric), 1) as salary_possible,
        CAST(cap_score.score as numeric) as cap_score,
        CAST(vc_score.score as numeric) as vc_score, 
        hits.event_transfers_cost as hits,
        CAST(CASE WHEN bench_pts.pts IS NULL THEN 0 ELSE bench_pts.pts END as numeric) as bench_pts
    FROM calc_score_parts_all
    LEFT JOIN 
        (SELECT entry, player_name FROM api_standings) as names
        ON calc_score_parts_all.entry = names.entry
    LEFT JOIN 
        (SELECT entry, event, element as cap_player_id, web_name FROM api_picks LEFT JOIN (SELECT id, web_name FROM api_elements) as elements ON element = id WHERE api_picks.is_captain) as cap 
        ON calc_score_parts_all.entry = cap.entry
    LEFT JOIN 
        (SELECT entry, event, element as vc_player_id, web_name FROM api_picks LEFT JOIN (SELECT id, web_name FROM api_elements) as elements ON element = id WHERE api_picks.is_vice_captain) as vc
        ON calc_score_parts_all.entry = vc.entry
    LEFT JOIN
        (SELECT element_id, score FROM epl_live_score_gwl) AS cap_score   
        ON cap.cap_player_id = cap_score.element_id
    LEFT JOIN 
        (SELECT element_id, score FROM epl_live_score_gwl) AS vc_score
        ON vc.vc_player_id = vc_score.element_id
    LEFT JOIN 
        (SELECT entry, event_transfers_cost FROM api_history_entry WHERE event = {CURRENT_WEEK}) as hits
        on calc_score_parts_all.entry = hits.entry
    LEFT JOIN 
        (SELECT entry, SUM(points) as pts FROM scores_player_lvl WHERE multiplier = 0 GROUP BY entry) as bench_pts
        on calc_score_parts_all.entry = bench_pts.entry
    ORDER BY rank_live

"""

live_table_all = db.execute(text(s))
db.commit()

df_all = pd.DataFrame(live_table_all.fetchall(), columns=live_table_all.keys())

In [48]:
r = f"SELECT * FROM lms_2024 WHERE knocked_out >= {CURRENT_WEEK}"
lms_table = db.execute(text(r))
db.commit()

df_lms = pd.DataFrame(lms_table.fetchall(), columns=lms_table.keys())

In [50]:
df_lms['entry'] = df_lms['entry'].astype(int)
df_all['entry'] = df_all['entry'].astype(int)

In [41]:
active = df_lms.loc[df_lms['status'] == 'active', 'entry'].tolist()

dff = df_all.copy(deep=True)

In [42]:
dff = dff.loc[dff['entry'].isin(active), ['entry', 'score_3']]
dff['lms_rank'] = dff['score_3'].rank(ascending=True, method='min')
dff = dff[['entry', 'lms_rank']]

df_all = pd.merge(df_all, dff, on='entry', how='left')
df_all = df_all.fillna(99)

In [43]:
df_all['lms_rank'] = df_all['lms_rank'].astype(int)
live_table_all = df_all.to_records(index=False)
live_table_all = list(live_table_all)

In [44]:
df_lms = df_all[df_all['lms_rank'] <= 5]
df_lms = df_lms.sort_values(by=['lms_rank'], ascending=True)

In [46]:
df_all

,rank_live,entry,player_name,score_3,total,test,salary,cap_player_id,captain,vc_player_id,vice,change_str,expected_games,salary_possible,cap_score,vc_score,hits,bench_pts,lms_rank
0,1,436343,Mike Reiffsteck,73,146,12.0,100.0%,308,Salah,355,Haaland,+9,12,96.5,5,2,0,0,28
1,2,3937812,Jake Dyer,54,127,12.0,100.0%,355,Haaland,19,Saka,+8,12,95.4,2,3,0,0,23
2,3,6736402,Michael Adams,45,123,12.0,100.0%,355,Haaland,19,Saka,+1,12,97.1,2,3,0,1,16
3,4,4946625,Tony Cicchetti,56,122,12.0,100.0%,355,Haaland,504,Maddison,+15,12,91.2,2,3,0,0,24
4,5,5887179,Alex Carney,48,121,12.0,100.0%,355,Haaland,415,Isak,+5,12,94.2,2,2,0,3,20
5,5,3949704,Travis Dyer,46,121,12.0,100.0%,355,Haaland,19,Saka,+2,12,91.2,2,3,0,0,17
6,7,44590,Edward Tierney,46,120,12.0,100.0%,308,Salah,355,Haaland,+2,12,95.7,5,2,0,0,17
7,7,18185,Raymond Bleth,40,120,12.0,100.0%,355,Haaland,19,Saka,-5,12,93.7,2,3,0,0,8
8,7,15672,Michael Doherty,51,120,12.0,100.0%,308,Salah,355,Haaland,+8,12,95.4,5,2,0,1,21
9,10,4497355,Tommy Fox,44,119,12.0,100.0%,355,Haaland,343,J.Alvarez,-3,12,95.9,2,7,0,0,12
10,10,3444407,Sam O'Connell,38,119,12.0,100.0%,60,Watkins,355,Haaland,-9,12,89.4,5,2,0,0,6
11,12,5324246,Syed Abidi,62,118,12.0,100.0%,355,Haaland,308,Salah,+11,12,94.9,2,5,4,0,26
12,13,3359,Dave Le Clair,36,114,12.0,100.0%,355,Haaland,60,Watkins,-9,12,97.6,2,5,0,1,4
13,14,3817506,Jeff Redish,34,113,12.0,100.0%,355,Haaland,396,Rashford,-11,12,92.1,2,2,0,0,2
14,15,2347614,Scott Parkins,43,112,11.0,100.0%,308,Salah,355,Haaland,0,11,91.5,5,2,0,1,11
15,16,1576196,Tom Oeltgen,34,111,12.0,100.0%,355,Haaland,60,Watkins,-10,12,98.0,2,5,0,0,2
16,16,28801,Andy Georgevich,59,111,12.0,100.0%,308,Salah,19,Saka,+9,12,91.2,5,3,4,0,25
17,18,456426,Mark Mays,40,107,12.0,100.0%,355,Haaland,19,Saka,0,12,96.6,2,3,0,0,8
18,18,2769828,Robert Aikens,41,107,12.0,100.0%,355,Haaland,19,Saka,+1,12,95.1,2,3,0,0,10
19,18,3552849,Mick Dempsey,46,107,12.0,100.0%,308,Salah,355,Haaland,+3,12,94.1,5,2,0,0,17
20,21,7697682,Andrew Pater,36,105,12.0,100.0%,355,Haaland,275,Leno,-11,12,93.7,2,2,4,0,4
21,21,2905953,Simon Nardo,44,105,12.0,100.0%,355,Haaland,297,Gakpo,0,12,92.1,2,2,0,0,12
22,23,3488981,rob rodriguez,52,104,12.0,100.0%,308,Salah,28,Turner,+2,12,94.6,5,2,4,0,22
23,24,4882113,Lord Kohledemort,32,100,12.0,100.0%,355,Haaland,516,Son,-7,12,95.4,2,3,0,0,1
24,24,3601785,Zach Trefzger,62,100,12.0,100.0%,19,Saka,211,N.Jackson,+5,12,80.0,3,1,0,0,26
25,26,6741837,Brian Teitelbaum,24,97,12.0,100.0%,355,Haaland,509,Richarlison,-16,12,92.8,2,3,0,0,99
26,27,3288987,chio lopez,38,96,12.0,100.0%,355,Haaland,60,Watkins,-3,12,95.5,2,5,0,0,6
27,28,5749850,Vito Abbinante,44,93,12.0,100.0%,355,Haaland,206,James,0,12,90.7,2,0,0,0,12
28,29,4505067,Mikael Nilsson,44,92,12.0,100.0%,355,Haaland,135,João Pedro,-2,12,90.8,2,0,4,0,12
29,30,3991513,Kevin Kackos,31,56,12.0,100.0%,355,Haaland,275,Leno,0,12,87.3,2,2,4,0,99

In [8]:
dfu = pd.concat([df, dff], axis=0)

In [20]:
df = pd.read_csv('/Users/tfox/Desktop/cup_static_schedule.csv')

In [ ]:
df = pd.read_clipboard()

In [37]:
import api_check as api_check

CURRENT_WEEK, FIRST_UNFINISHED_WEEK = api_check.pull_current_week()

In [38]:
CURRENT_WEEK

30

In [41]:
q = f""" 
    SELECT rank_live, 
        calc_score_parts.entry, 
        CASE name
            WHEN 'NO_CHIP' THEN player_name
            ELSE CONCAT(player_name, ' (', name, ')')
            END AS player_name,
        CAST(score_3 AS int) as score_3, 
        CAST(calc_score_parts.total_points - calc_score_parts.event_transfers_cost + calc_score_parts.score_3 AS int) as Total,
        ROUND(CAST(played_games AS numeric), 1) as test, 
        price_pct_str as Salary, 
        cap.cap_player_id, 
        cap.web_name as Captain, 
        vc.vc_player_id,
        vc.web_name as Vice,
        change_str,
        CAST(expected_games AS int), 
        ROUND(CAST(salary_possible AS numeric), 1) as salary_possible,
        CAST(cap_score.score as numeric) as cap_score,
        CAST(vc_score.score as numeric) as vc_score, 
        hits.event_transfers_cost as hits,
        CAST(CASE WHEN bench_pts.pts IS NULL THEN 0 ELSE bench_pts.pts END as numeric) as bench_pts
    FROM calc_score_parts
    LEFT JOIN 
        (SELECT entry, player_name FROM api_standings) as names
        ON calc_score_parts.entry = names.entry
    LEFT JOIN 
        (SELECT entry, event, element as cap_player_id, web_name FROM api_picks LEFT JOIN (SELECT id, web_name FROM api_elements) as elements ON element = id WHERE api_picks.is_captain) as cap 
        ON calc_score_parts.entry = cap.entry
    LEFT JOIN 
        (SELECT entry, event, element as vc_player_id, web_name FROM api_picks LEFT JOIN (SELECT id, web_name FROM api_elements) as elements ON element = id WHERE api_picks.is_vice_captain) as vc
        ON calc_score_parts.entry = vc.entry
    LEFT JOIN
        (SELECT element_id, score FROM epl_live_score_gwl) AS cap_score   
        ON cap.cap_player_id = cap_score.element_id
    LEFT JOIN 
        (SELECT element_id, score FROM epl_live_score_gwl) AS vc_score
        ON vc.vc_player_id = vc_score.element_id
    LEFT JOIN 
        (SELECT entry, event_transfers_cost FROM api_history_entry WHERE event = {CURRENT_WEEK}) as hits
        on calc_score_parts.entry = hits.entry
    LEFT JOIN 
        (SELECT entry, SUM(points) as pts FROM scores_player_lvl WHERE multiplier = 0 GROUP BY entry) as bench_pts
        on calc_score_parts.entry = bench_pts.entry
    ORDER BY rank_live

"""

live_table = db.execute(text(q))
db.commit()

df = pd.DataFrame(live_table.fetchall(), columns=live_table.keys())

#LMS
r = "SELECT * FROM lms_2023"
lms_table = db.execute(text(r))
db.commit()

df_lms = pd.DataFrame(lms_table.fetchall(), columns=lms_table.keys())

dff = pd.merge(df, df_lms, on='entry', how='left')
dff = dff.loc[dff['LMS_active'] == True, ['entry', 'score_3']]
dff['lms_rank'] = dff['score_3'].rank(ascending=True, method='min')
dff = dff[['entry', 'lms_rank']]

df = pd.merge(df, dff, on='entry', how='left')
df = df.fillna(99)

df['lms_rank'] = df['lms_rank'].astype(int)
live_table = df.to_records(index=False)
live_table = list(live_table)

In [42]:
#GROUP STAGE 
q = f"""SELECT * FROM fpl_cup_group_fixtures WHERE "GW" = {CURRENT_WEEK}"""
group_fixtures = db.execute(text(q))
db.commit()
df_gf = pd.DataFrame(group_fixtures.fetchall(), columns=group_fixtures.keys())
t1_score = df[['entry', 'score_3']].copy(deep=True)
t1_score.columns = ['Team 1 ID', 'Team 1 Score']

In [45]:
CURRENT_WEEK

30

In [ ]:


t2_score = df[['entry', 'score_3']].copy(deep=True)
t2_score.columns = ['Team 2 ID', 'Team 2 Score']
df_gf = pd.merge(df_gf, t1_score, how='left', on='Team 1 ID')
df_gf = pd.merge(df_gf, t2_score, how='left', on='Team 2 ID')


df_gf['Team 1 ID'] = df_gf['Team 1 ID'].astype(str)
df_gf['Team 2 ID'] = df_gf['Team 2 ID'].astype(str)

df_gf['link'] = "http://www.negatrophy.com/compare/" + df_gf['Team 1 ID'] + "/" + df_gf['Team 2 ID']
df_gf = df_gf[['Group','Team 1 ID','Team 2 ID','Team 1 Name','Team 2 Name','Team 1 Score','Team 2 Score','link']]

df_gf = df_gf.to_records(index=False)
df_gf = list(df_gf)

In [2]:
import pandas as pd

In [3]:
df = pd.read_clipboard()

In [4]:
fix = ['2019 Total', '2020 Total', '2021 Total', '2022 Total', '2023 Total', '2023 Total', 'Overall']

for i in fix: 
    df[i] = df[i].astype(float)
    df[i] = df[i].round(1)

In [5]:
df.head()

,Pos,Manager Name,Best League Result,Best LMS Result,Best Cup Result,Best LCS Result,2019 Total,2020 Total,2021 Total,2022 Total,2023 Total,2024 Total,Overall
0,1,Dave Le Clair,Champ,2nd,CL Champ,T1 QF,390.0,487.0,360.0,586.0,636.0,238.2,2018.6
1,2,Edward Tierney,Champ,3rd,EL Champ,T1 SF,344.0,544.0,504.0,411.0,598.0,223.6,1941.0
2,3,Michael Doherty,Champ,7th,CL Final,T1 SF,292.0,444.0,478.0,453.0,717.0,166.8,1921.1
3,4,Robert Aikens,3rd,2nd,CL Champ,T1 Champ,252.0,546.0,486.0,399.0,583.0,200.5,1837.4
4,5,Michael Adams,4th,2nd,CL Champ,T1 Final,388.0,420.0,375.0,451.0,537.0,201.3,1753.1

In [8]:
f.send_it(df, 'hof_rk')

PostgreSQL Table hof_rk has been created successfully.

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker

In [ ]:
alchemyEngine           = create_engine(f.DATABASE_URL, pool_recycle=3600);
postgreSQLConnection    = alchemyEngine.connect();

In [ ]:
frame = df.to_sql("hof_rk", postgreSQLConnection, if_exists='replace', method='multi');

In [ ]:
df.to_csv(f"/Users/tfox/Desktop/Move to Linode/hof_rk.csv", index=False)

In [ ]:
postgreSQLConnection.invalidate()
postgreSQLConnection.close();