In [15]:
import pandas as pd 
import datetime as dt
import os, random
from flask import Flask, render_template, request, jsonify, session
from sqlalchemy import create_engine, text
from sqlalchemy.orm import scoped_session, sessionmaker

DATABASE_URL = os.environ['DATABASE_URL']

app = Flask(__name__)
engine = create_engine(DATABASE_URL, isolation_level="AUTOCOMMIT")
db = scoped_session(sessionmaker(bind=engine))

In [16]:
def send_it(df, table, **kwargs):
    alchemyEngine           = create_engine(DATABASE_URL, pool_recycle=3600);
    postgreSQLConnection    = alchemyEngine.connect();
    postgreSQLTable         = table;
    
    try:
        frame           = df.to_sql(postgreSQLTable, alchemyEngine, if_exists='replace', method='multi');
    except ValueError as vx:
        print(vx)
    except Exception as ex:
        print(ex)
    else:
        print("PostgreSQL Table %s has been created successfully."%postgreSQLTable);
    finally:
        postgreSQLConnection.invalidate()
        postgreSQLConnection.close();

In [6]:
df = pd.read_clipboard()

In [17]:
df

,user_id,original_word_original,user_word,original_word
0,1,abcdefghijklmnopqrstuvwxyz,abcdefghijklmnopqrstuvwxyz,abcdefghijklmnopqrstuvwxyz

In [18]:
df['ts'] = dt.datetime.now()

In [19]:
df

,user_id,original_word_original,user_word,original_word,ts
0,1,abcdefghijklmnopqrstuvwxyz,abcdefghijklmnopqrstuvwxyz,abcdefghijklmnopqrstuvwxyz,2025-01-13 21:00:12.002006

In [20]:
send_it(df, 'ben_spells_logs')

PostgreSQL Table ben_spells_logs has been created successfully.

In [13]:
a = 123
b = 'sheep'
c = 'sheep'
d = 'sheep'


db.execute(text(
    f"""
        INSERT INTO ben_spells_logs (user_id, original_word_original, user_word, original_word)
        VALUES ({a}, '{b}', '{c}', '{d}');
    """))
db.commit()

In [27]:
db.execute(text( """SELECT * FROM ben_spells_logs;""")).fetchall()

df = pd.read_sql_query("SELECT * FROM ben_spells_logs;", engine)

In [28]:
df

,index,user_id,original_word_original,user_word,original_word,ts
0,0.0,1,abcdefghijklmnopqrstuvwxyz,abcdefghijklmnopqrstuvwxyz,abcdefghijklmnopqrstuvwxyz,2025-01-13 21:00:12.002006
1,NaN,6476,tail,tail,tail,2025-01-13 21:01:59.560644
2,NaN,6476,wait,wait,wait,2025-01-13 21:03:08.112576
3,NaN,6476,booth,trade,booth,2025-01-13 21:03:21.638751